<div class="main col-1-1">
  <article>
    <p>
      I'm a web developer based in Belfast. I work at <a href="http://voxbit.net" target="_blank">Voxbit</a>. I love the web and experimenting with different technologies including Ruby on Rails, Javascript, HTML and CSS.
    </p>
    <p>You can see some of my personal projects <a href="/projects">here.</a></p>
  </article>
</div>

