<div class="main">
  <article class="col-3-4">
    <p>I'm a web developer based in Belfast. I work at <a href="http://etain-software.com" taget="_blank">Etain software</a>. I like to play about with various technologies including Ruby on Rails, Javascript, HTML and CSS. You can see some of my personal projects <a href="/projects">here.</a></p>
    <!-- <img src="/images/me.jpg"> -->
  </article>

  <aside class="col-1-4">
      <div>
          <img src="/images/twitter.png">
          <a href="https://twitter.com/ColmJHeaney">twitter</a>
      </div>
      <div>
          <img src="/images/github.png">
          <a href="https://github.com/colmheaney">github</a>
      </div>
      <div>
          <img src="/images/email.png">
          <a href="mailto:colm.heaney@gmail.com">email</a>
      </div>
  </aside>
</div>

