<link rel="stylesheet" href="/css/projects/chrome.css">

<h2 class="project">chrome inspired responsive homepage</h2>

	<div id="chrome-container">
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>  
	    <div class="block">
			<img src="/images/projects/chrome/g.png" alt="">
	    </div>                               	

</div>
<script src="/js/projects/chrome.js"></script>