<div class="main col-1-1">
  	<ul>
<!--   		<li class="project">
  			<div>
			  	<h2><a href="/projects/chrome_homepage">chrome homepage inspired responsive layout</a></h2>
			  	<p class="meta">24 November 2013</p>
			  	<p>
			  		This is a simple jquery image gallery.
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="jquery">jquery</a>,  <a href="#" title="gallery">gallery</a>,  <a href="#" title="experiment">experiment</a></p>
  			</div>
  		</li>
 -->
  		<li class="project">
  			<div>
			  	<h2><a href="/projects/gallery">shuffle gallery</a></h2>
			  	<p class="meta">17 November 2013</p>
			  	<a href="/projects/gallery"><img src="/images/projects/gallery.png"></a>
			  	<p>
			  		This is a simple jquery image gallery.This is a simple jquery image gallery.This is a simple jquery image gallery.This is a simple jquery image gallery.This is a simple jquery image gallery.
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="jquery">jquery</a>,  <a href="#" title="gallery">gallery</a>,  <a href="#" title="experiment">experiment</a></p>
  			</div>
  		</li>

  		<li class="project">
  			<div>
			  	<h2><a href="http://irisharchaeologicalresearch.com" target="_blank">irisharchaeologicalresearch.com</a></h2>
			  	<p class="meta">03 September 2013</p>
			  	<a href="http://irisharchaeologicalresearch.com" target="_blank"><img src="/images/projects/iar.png"></a>
			  	<p>
			  		<a href="http://irisharchaeologicalresearch.com" target="_blank">IAR </a> are a local heritage company based in Belfast. They wanted a website to showcase the various activities that they're involved in and that was easy to update with details about upcoming events. 
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="ruby">ruby</a>,  <a href="#" title="rails">rails</a>,  <a href="#" title="responsive">responsive</a>, <a href="#" title="cms">cms</a></p>
  			</div>
  		</li>
  		
  		<li class="project">
		  	<div>
			  	<h2><a href="http://project0.fixturelocker.com" target="_blank">FAS course app</a></h2>
			  	<p class="meta">01 June 2012</p>
			  	<a href="http://project0.fixturelocker.com" target="_blank"><img src="/images/projects/fas.png"></a>
			  	<p>
			  		This is a web app that I made as my final project for the amazing <a href="https://cs50.harvard.edu/">CS50</a>. It allows the user to see a visual summary of the history of football fixtures.
			  	</p>
			  	<p>
					It's built using PHP and Javascript with a MySQL database.
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="php">php</a>,  <a href="#" title="codeigniter">codeigniter</a>,  <a href="#" title="responsive">responsive</a>, <a href="#" title="jquery">jquery</a></p>
		  	</div>
  		</li>

  		<li class="project">
		  	<div>
			 	<h2><a href="http://fixturelocker.com" target="_blank">fixturelocker.com</a></h2>
			  	<p class="meta">30 March 2012</p>
			  	<a href="http://fixturelocker.com" target="_blank"><img src="/images/projects/fixturelocker.png"></a>
			  	<p>
			  		This is a web app that I made as my final project for the amazing <a href="https://cs50.harvard.edu/" target="_blank">CS50</a>. It allows the user to see a visual breakdown of football results.
			  	</p>
			  	<p>
					It's built using PHP and Javascript with a MySQL database.
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="php">php</a>,  <a href="#" title="mysql">mysql</a>,  <a href="#" title="jquery">jquery</a></p>
		  	</div>
  		</li>
  	</ul>
</div>