<div class="main col-1-1">
  	<ul>
  		<li class="project">
  			<div>
			  	<h2><a href="/projects/slider">shuffle slider</a></h2>
			  	<p class="meta">17 November 2013</p>
			  	<a href="/projects/slider"><img src="/images/projects/slider.png"></a>
			  	<p>
			  		This is a novel jquery image slider that uses the CSS z-index property. It's inspired by <a href="http://usejquery.com/blog/create-unique-gallery-using-z-index-and-jquery" target="_blank">this</a> tutorial on <a href="http://usejquery.com/" target="_blank">usejquery.com</a> I wanted to see if I could figure out my own way of doing it.
			  	</p>
			  	<p>
			  		 Note: this isn't optimised for mobile. One for the future maybe...?
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="jquery">jquery</a>,  <a href="#" title="slider">slider</a>,  <a href="#" title="experiment">experiment</a></p>
  			</div>
  		</li>

  		<li class="project">
  			<div>
			  	<h2><a href="http://irisharchaeologicalresearch.com" target="_blank">irisharchaeologicalresearch.com</a></h2>
			  	<p class="meta">03 September 2013</p>
			  	<a href="http://irisharchaeologicalresearch.com" target="_blank"><img src="/images/projects/iar.png"></a>
			  	<p>
			  		<a href="http://irisharchaeologicalresearch.com" target="_blank">IAR </a> are a local heritage company based in Belfast. They wanted a website to showcase the various activities that they're involved in and that was also easy to update with details about upcoming events. 
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="ruby">ruby</a>,  <a href="#" title="rails">rails</a>,  <a href="#" title="responsive">responsive</a>, <a href="#" title="cms">cms</a></p>
  			</div>
  		</li>
  		
  		<li class="project">
		  	<div>
			  	<h2><a href="http://project0.fixturelocker.com" target="_blank">FAS course app</a></h2>
			  	<p class="meta">01 June 2012</p>
			  	<a href="http://project0.fixturelocker.com" target="_blank"><img src="/images/projects/fas.png"></a>
			  	<p>
			  		This is a mobile web app that I built as part of <a href="http://cs164.tv" target="_blank">Harvard CS164</a>. The app allows students to browse all courses on offer at Harvard and to see information such as time and location. They can then bookmark courses to view later.
			  	</p>
			  	<p>The app is built with PHP, Codeigniter and jQuery Mobile.</p>
			  	<p class="meta">Tags: <a href="#" title="php">php</a>,  <a href="#" title="codeigniter">codeigniter</a>,  <a href="#" title="responsive">responsive</a>, <a href="#" title="jquery">jquery</a></p>
		  	</div>
  		</li>

  		<li class="project">
		  	<div>
			 	<h2><a href="http://fixturelocker.com" target="_blank">fixturelocker.com</a></h2>
			  	<p class="meta">30 March 2012</p>
			  	<a href="http://fixturelocker.com" target="_blank"><img src="/images/projects/fixturelocker.png"></a>
			  	<p>
			  		This is a web app that I made as my final project for the amazing <a href="https://cs50.harvard.edu/" target="_blank">CS50</a>. It allows the user to see a visual breakdown of football results.
			  	</p>
			  	<p>
					It's built using PHP and Javascript with a MySQL database.
			  	</p>
			  	<p class="meta">Tags: <a href="#" title="php">php</a>,  <a href="#" title="mysql">mysql</a>,  <a href="#" title="jquery">jquery</a></p>
		  	</div>
  		</li>
  	</ul>
</div>