<div id="control">
	<h2>shuffle slider</h2>
	<a href="#" id="prev">Previous |</a>
	<a href="#" id="next">Next</a>
</div>

<div id="gallery-container">
	<div id="gallery" class="row">
		<li class="stack"><img src="/images/projects/slider/1.jpg"></img></li>
		<li class="stack"><img src="/images/projects/slider/2.jpg"></img></li>
		<li class="stack"><img src="/images/projects/slider/3.jpg"></img></li>
		<li class="stack"><img src="/images/projects/slider/4.jpg"></img></li>
		<li class="stack"><img src="/images/projects/slider/5.jpg"></img></li>
		<li class="stack"><img src="/images/projects/slider/6.jpg"></img></li>
	</div>
</div>


<link rel="stylesheet" type="text/css" href="/css/projects/gallery.css">
<script src="/js/projects/gallery.js"></script>
