#chrome-container {
	position: relative;
    min-height: 800px;
}
.block {
    position: absolute;
    padding: 20px;
    width: 160px
}

.block {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}